<section class="projects">
  <h2>Mis Proyectos</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      <img [src]="project.image ? project.image : imageDefault" [alt]="project.name" />
      <div class="project-info">
        <h3>{{ project.name }}</h3>
        <!-- <p>{{ project.description }}</p> -->
        <div class="technologies">
          <span *ngFor="let tech of project.technologies">{{ tech }}</span>
        </div>

        <div class="social-links-projects">
          <a *ngIf="project.demo" [href]="project.demo" target="_blank"
            ><fa-icon [icon]="['fas', 'eye']"></fa-icon
          ></a>
          <a [href]="project.link" target="_blank">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
