<section class="projects">
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      <img
        [src]="project.image ? project.image : imageDefault"
        [alt]="project.name"
      />
      <div class="project-info">
        <h3>{{ project.name }}</h3>
        <div class="technologies">
          <span *ngFor="let tech of project.technologies">{{ tech }}</span>
        </div>

        <div class="social-links-projects">
          <a *ngIf="project.demo" [href]="project.demo" target="_blank"
            ><fa-icon [icon]="['fas', 'eye']"></fa-icon
          ></a>
          <a [href]="project.link" target="_blank">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </a>
          <a class="cursor-point" (click)="openProjectModal(project)">
            <fa-icon [icon]="['fas', 'file-text']"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="selectedProject" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedProject.name }}</h2>
    <p>{{ selectedProject.description }}</p>
  </div>
</div>
